
body {
	background-color: #FFFFCC;
	}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #990000;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight:bold;
	font-size: 15px;
}

.boldtext {
	font-family: Arial, Helvetica, sans-serif;
	color:#990000;
	font-weight:bold;
	font-size: 13px;
}

.description a:link {
	color: #006600;
	text-decoration: none;
	}
	
.description a:hover {
	color: #336600;
	text-decoration: underline;
	}
